mag_vec_fem/data/eigendata
mag_vec_fem/data/eigenplots
mag_vec_fem/data/loose_eigenplots
mag_vec_fem/meshes
mag_vec_fem/samples
mag_vec_fem/data/Th
mag_vec_fem/__pycache__
mag_vec_fem/fem_base/__pycache__
mag_vec_fem/data/landscapes
eigenfunctions
mag_vec_fem/data
data

